<section class="promo box box-dark">
    <div class="col-md-12">
        <h1 class="section-heading">"Autismus očima profesionála. „Odlišné" děti potřebují „odlišnou" pomoc."</h1>
        <i>Mary Akerley</i>
        <p>Nezisková organizace Dětský klíč poskytuje sociální služby, které směřují ke zlepšení péče o handicapované děti a mládež s poruchami autistického spektra, k podpoře jejich rodin a k hledání možností jejich začlenění do společenského života. Projekty společnosti jsou zaměřeny na zajišťování a poskytování služeb osobní asistence, odlehčovacích služeb a sociální rehabilitace. Klienti organizace jsou ve věku od 3 do 64 let.</p>
    </div>
</section><!--//promo-->